body {
    background-image: url('Firefly%2020231001193248.png');
    background-size: cover;
    background-repeat: repeat;
    height: 100vh;
    margin: 0;
    overflow: overlay;
 }


.card {
    min-height: 27em; /* Adjust minimum height as needed */
    width: 20em;
    background: rgba(236, 138, 46, 0.719);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    flex-direction: column;
    transition: ease 0.3s;
    text-align: left;
  }
  
.card:hover {
    transform: scale(1.1);
    background-size: 110%;
  }
  
.titre {
    font-family: 'Croissant One', cursive;
    font-size: 1.5em; /* Adjust the font size as needed */
    color: #FFD969;
}

.sous {
    background-color:#142280;
    border-radius: 10px 10px 0 0;
}

/* Adjust spacing between rows */
.row {
    margin-bottom: 20px;
}

/* Media query for smaller screens */
@media (max-width: 767px) {
.card {
    min-height: auto; /* Allow cards to resize on smaller screens */
}
}

.image{
    height: 25%;
    width: 75%;
}

.legende{
    font-family: 'Croissant One', cursive;
}


::-webkit-scrollbar {
    width:10px;
    height: 100px;
    background-color: #FFD969;
}

::-webkit-scrollbar-thumb {
    background: #7383e9;
    border-radius: 10px;
}

.bloc3{
    margin:0 0 0 0;
}


.goto{
    font-family: 'Croissant One', cursive;
    font-size: 1.5em; /* Adjust the font size as needed */
    color: #000000;
    background-color: #FFD969;
    border-radius: 4px;
   
}    